body{
    padding: 100px
}

#first{
    display: inline-block;
    text-decoration: none;
    padding: 8px 30px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    background: linear-gradient();

}