

.textContent {
    display: none;
    width: 100%;
    
    h2{
        color: blue; font-size: 30px; text-align: center;
    }
    
    .content{
        figure{
            text-align: center;
            font-size: 25px;
        }
        a{
            text-decoration: none;
            abbr{
                text-decoration: none;
            }
        }
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex: 1 0 50%;
        ul{
            text-align: left;
            font-size: 20px;
        }
        img{
            height: 400px; width: 350px;
        }
        .convert{
            background-color: aqua;
            width: 100%;
            padding-bottom: 20px;
            border-radius: 50px;
            justify-content: center;
            align-items: center;
            #chooseFormat{
                display: none;  /*FLEX SE toBase = 2*/
                justify-content: center;
                align-items: center;
                #nBit{
                    display: none;    /* viene mostrato se viene selezionata la casella Eccesso N*/
                }
            }
            input, button{
                height: 30px;
                border-radius: 15px;
            }
            button{
                background-color: rgb(26, 194, 26);
                min-width: 180px;
            }
        }
    }
}

