<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFO USER</title>
    <style>
        table {
            border: 3px solid black;
            border-radius: 30px;
        }
        
        td {
            padding: 20px;
            border-style: dotted;
            border-radius: 30px;
            align-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <table align="center">
        <tr>
            <td id="title" colspan="2">
                <% if(user.role == "ADMIN") { %>
                    <img src="/immagini/admin.png" style="height: 200px; width: 200px;">
                    <% } else { %>
                        <img src="/immagini/ospite.png" style=" height: 200px; width: 200px;">
                        <% } %>

                            <h1 align="center">CIAO
                                <%= user.name %>!
                            </h1>
            </td>
        </tr>
        <tr>
            <td>USERNAME: </td>
            <td>
                <%= user.name %>
            </td>
        </tr>
        <tr>
            <td>EMAIL: </td>
            <td>
                <%= user.email %>
            </td>
        </tr>
        <tr>
            <td>RUOLO: </td>
            <td>
                <%= user.role %>
            </td>
        </tr>
        <tr>
            <td style="align-content: center;" colspan="2"><a href="/account/start">INIZIA PRESENTAZIONE</a></td>
        </tr>

    </table>


</body>

</html>