:root{
    --div-size: 100px; /*div quadrato 60x60*/
}


#grid{
    width: calc(10*var(--div-size));
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    border-bottom: 5px solid white;
    padding-bottom: 5px;
}

/*tutti i div figli diretti di #grid*/
#grid > div{
    width: var(--div-size);
    height: var(--div-size);
}


.dyno{
    background-image: url("./images/dyno.png");
    background-size: 100%;
    transition: transform 0.3s; 
}

.dyno-jumped{
    transform: translate(0, -120%);
}


.bush {
    background-image: url("./images/bush.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 30px;   /*per allineare l'immagine con la stradina*/

}