<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARCHITETTURA</title>
    
    <link rel="stylesheet" href="/css/stile.css">
    <style> 
        body {
            background-image: url(/img/architettura-degli-elaboratori.jpeg); background-size: 100%; background-repeat: no-repeat;
        }
        .title i{
            color:white
        }
        .title .homebutton {
            font-size:20px; color:white; 
            border: 1px solid white;
        }
        .homebutton i{
            font-size:40px; color:white
        }
        .navtable .linkcell{
            border: 0px solid white;
            
        }
    </style>
    
</head>
<body >
    <div class="title">
        <i  class="fas fa-cogs"></i>ARCHITETTURA degli ELABORATORI<a href="index.html"><div  class="homebutton"><i   class="fas fa-home"></i>HOME</div></a>
        
    </div>
    
    <div class="pdflink">
        <a href="./Architettura/Architettura.pdf"><abbr style="text-decoration: none; " title="APRI APPUNTI IN FORMATO PDF">APPUNTI</abbr>  
            <i  class="far fa-file-pdf"></i>
        </a>
    </div>


    <hr>

    
    
    <table class="navtable">
        <tr>
            <td class="linkcell"  onmouseleave="dropindex(0, false)">
             <a class="primarylink" href="Architettura/Storia.html"><img class="linkimg" src="public/ARCH/storialogo.png" > - Storia degli elaboratori</a><i onclick="dropindex (0, true)" class="fas fa-angle-down"></i>
                <ul class="indexdrop">
                    <li><a href="./Architettura/Storia.html#GEN0">GEN 0</a></li>
                    <li><a href="./Architettura/Storia.html#GEN1">GEN 1</a></li>
                    <li><a href="./Architettura/Storia.html#GEN2">GEN 2</a></li>
                </ul>
            </td>
            <td class="linkcell" onmouseleave="dropindex(1, false)">
              <a class="primarylink" href="Architettura/Codifica_Digitale.html"><img class="linkimg" src="public/ARCH/calcolatrice.png" > - Rappresentazione dei Dati</a><i onclick="dropindex (1, true)" class="fas fa-angle-down"></i>
                
                <ul class="indexdrop" >
                    <li><a href="./Architettura/Codifica_Digitale.html#SegnaliInfo"><abbr title="Segnali Informativi">S.INF</abbr> </a> </li>
                    <li><a href="./Architettura/Codifica_Digitale.html#ADC"><abbr title="Digitalizzazione">ADC</abbr></a></li>
                    <li><a href="./Architettura/Codifica_Digitale.html#SND"><abbr title="Sistema Numerico Digitale">SND</abbr></a></li>
                    <li><a href="./Architettura/Codifica_Digitale.html#Bool"><abbr title="Algebra Booleana">BOOL</abbr></a></li>
                    <li><a href="./Architettura/Codifica_Digitale.html#Codifica"><abbr title="Codifica dei DATI">COD</abbr></a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="linkcell" onmouseleave="dropindex(2, false)">
               <a class="primarylink" href="Architettura/Circuiti_Memorie.html"><img class="linkimg" src="public/ARCH/chiplogo.png" > - Circuiti Sequenziali e Combinatori</a><i onclick="dropindex (2, true)" class="fas fa-angle-down"></i>
                <ul class="indexdrop">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                
            </td>
            <td class="linkcell" onmouseleave="dropindex(3, false)">
              <a class="primarylink" href="Architettura/Circuiti_Memorie.html"><img class="linkimg" src="public/ARCH/pclogo.png" > -  Organizzazione e Struttura</a><i onclick="dropindex (3, true)" class="fas fa-angle-down"></i>
                <ul class="indexdrop">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="linkcell" onmouseleave="dropindex(4, false)">
             <a class="primarylink" href="Architettura/CPU.html"><img class="linkimg" src="public/ARCH/cpulogo.png" > - Architettura della CPU</a><i onclick="dropindex (4, true)" class="fas fa-angle-down"></i>
                <ul class="indexdrop">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </td>
            <td class="linkcell" onmouseleave="dropindex(5, false)">
              <a class="primarylink" href="Architettura/Circuiti_Memorie.html"><img class="linkimg" src="public/ARCH/BUS.png" > - BUS e Comunicazione</a><i onclick="dropindex (5, true)" class="fas fa-angle-down"></i>
                <ul class="indexdrop">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="linkcell" onmouseleave="dropindex(6, false)">
               <a class="primarylink" href="Architettura/Circuiti_Memorie.html"><img class="linkimg" src="public/ARCH/memoria.png" > - Organizzazione e Accesso</a><i onclick="dropindex (6, true)" class="fas fa-angle-down"></i>
                <ul class="indexdrop">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </td>
            <td class="linkcell" onmouseleave="dropindex(7, false)">
                <a class="primarylink"  href="Architettura/Circuiti_Memorie.html"><img src="./public/ARCH/Multi_Diagram.png" class="linkimg"> - Multithread, Multiprocessi</a><i onclick="dropindex (7, true)" class="fas fa-angle-down"></i>
                <ul class="indexdrop">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </td>
        </tr>
    </table>

    
    
    <script src="https://kit.fontawesome.com/93e39226bb.js" crossorigin="anonymous"></script>
</body>
<script>
    let prev = false;
    
    console.log(prev)
    let dropindexes = document.getElementsByClassName("indexdrop")
    let buttons = document.getElementsByClassName("fas fa-angle-down")
    function dropindex (index, flag) {
        if (flag) dropindexes[index].style.display = "flex"
        else dropindexes[index].style.display = "none"
        console.log(index)
        
    }
    
</script>
</html>