<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARCHITETTURA</title>
    <style>
        table {
            width: 100%; text-align: center; font-size: 30px; font-weight: bold;
        }
        table td{
            width: 50%; border: 3px solid black; border-radius: 10px; padding: 20px;
        }
        
        td img{
            width: 50px; height: 50px; vertical-align: middle;
        }
    </style>
</head>
<body>
    <h2 style="color: red; text-align: center; font-size: 50px;">ARCHITETTURA degli ELABORATORI<a href="index.html"><img src="public/homebutton.png" style="border-style: none; height: 50px; width: 50px; padding-left: 30px;"></a></h2>
    <div style="text-align: center; font-size: 35px;">
        <a href="/Architettura/Architettura.pdf">APPUNTI</a>
        
    </div>
    <h2 id="argomenti" style="color: blue; font-size: 40px; text-align: center;">Argomenti del Corso</h2>
    <table >
        <tr>
            <td id="1">I <a href="Architettura/Storia.html"><img src="public/ARCH/storialogo.png" ></a> - Storia degli elaboratori 
                <div style="display: none;" id="2link">
                    <ul style="text-align: left; " id="index">
                        <li><a href="./Architettura/Codifica_Digitale.html#SegnaliInfo">Segnali Informativi</a> </li>
                        <li><a href="./Architettura/Codifica_Digitale.html#ADC">Digitalizzazione</a></li>
                        <li><a href="./Architettura/Codifica_Digitale.html#SND">Sistema Numerico Digitale</a></li>
                        <li><a href="./Architettura/Codifica_Digitale.html#Bool">Algebra Booleana</a></li>
                        <li><a href="./Architettura/Codifica_Digitale.html#Codifica">Codifica dei DATI</a></li>
                    </ul>
                </div> 
            </td>
            
            <td id="2">II <a href="Architettura/Codifica_Digitale.html"><img src="public/ARCH/calcolatrice.png" ></a> - Rappresentazione dei Dati e operazioni booleane  
                <div style="display: none;" id="2link">
                    <ul style="text-align: left; " id="index">
                        <li><a href="./Architettura/Codifica_Digitale.html#SegnaliInfo">Segnali Informativi</a> </li>
                        <li><a href="./Architettura/Codifica_Digitale.html#ADC">Digitalizzazione</a></li>
                        <li><a href="./Architettura/Codifica_Digitale.html#SND">Sistema Numerico Digitale</a></li>
                        <li><a href="./Architettura/Codifica_Digitale.html#Bool">Algebra Booleana</a></li>
                        <li><a href="./Architettura/Codifica_Digitale.html#Codifica">Codifica dei DATI</a></li>
                    </ul>
                </div> 
            </td>
        </tr>
        <tr>
            <td id="3">III <a href="Architettura/Circuiti_Memorie.html"><img src="public/ARCH/chiplogo.png" ></a> - Circuiti Sequenziali e Combinatori<div style="display: none;" id="2link">
                <ul style="text-align: left; " id="index">
                    <li><a href="./Architettura/Codifica_Digitale.html#SegnaliInfo">Segnali Informativi</a> </li>
                    <li><a href="./Architettura/Codifica_Digitale.html#ADC">Digitalizzazione</a></li>
                    <li><a href="./Architettura/Codifica_Digitale.html#SND">Sistema Numerico Digitale</a></li>
                    <li><a href="./Architettura/Codifica_Digitale.html#Bool">Algebra Booleana</a></li>
                    <li><a href="./Architettura/Codifica_Digitale.html#Codifica">Codifica dei DATI</a></li>
                </ul>
            </div> </td>
            
            <td id="4">IV <a href="Architettura/Circuiti_Memorie.html"><img src="public/ARCH/pclogo.png" ></a> -  Organizzazione e Struttura di un Calcolatore
                <div style="display: none;" id="2link">
                    <ul style="text-align: left; " id="index">
                        <li><a href="./Architettura/Codifica_Digitale.html#SegnaliInfo">Segnali Informativi</a> </li>
                        <li><a href="./Architettura/Codifica_Digitale.html#ADC">Digitalizzazione</a></li>
                        <li><a href="./Architettura/Codifica_Digitale.html#SND">Sistema Numerico Digitale</a></li>
                        <li><a href="./Architettura/Codifica_Digitale.html#Bool">Algebra Booleana</a></li>
                        <li><a href="./Architettura/Codifica_Digitale.html#Codifica">Codifica dei DATI</a></li>
                    </ul>
                </div> 
            </td>
            
        </tr>
        <tr>
            <td id="5">
                V <a href="Architettura/CPU.html"><img src="public/ARCH/cpulogo.png" ></a> - Architettura della CPU<div style="display: none;" id="2link">
                    <ul style="text-align: left; " id="index">
                        <li><a href="./Architettura/Codifica_Digitale.html#SegnaliInfo">Segnali Informativi</a> </li>
                        <li><a href="./Architettura/Codifica_Digitale.html#ADC">Digitalizzazione</a></li>
                        <li><a href="./Architettura/Codifica_Digitale.html#SND">Sistema Numerico Digitale</a></li>
                        <li><a href="./Architettura/Codifica_Digitale.html#Bool">Algebra Booleana</a></li>
                        <li><a href="./Architettura/Codifica_Digitale.html#Codifica">Codifica dei DATI</a></li>
                    </ul>
                </div> 
            </td>
            <td id="6">
                VI <a href="Architettura/Circuiti_Memorie.html"><img src="public/ARCH/BUS.png" ></a> - BUS e Comunicazione logica interna<div style="display: none;" id="2link">
                    <ul style="text-align: left; " id="index">
                        <li><a href="./Architettura/Codifica_Digitale.html#SegnaliInfo">Segnali Informativi</a> </li>
                        <li><a href="./Architettura/Codifica_Digitale.html#ADC">Digitalizzazione</a></li>
                        <li><a href="./Architettura/Codifica_Digitale.html#SND">Sistema Numerico Digitale</a></li>
                        <li><a href="./Architettura/Codifica_Digitale.html#Bool">Algebra Booleana</a></li>
                        <li><a href="./Architettura/Codifica_Digitale.html#Codifica">Codifica dei DATI</a></li>
                    </ul>
                </div> 
            </td>
        </tr>
        <tr>
            <td  id="7">VII <a href="Architettura/Circuiti_Memorie.html"><img src="public/ARCH/memoria.png" ></a> - Organizzazione e Accesso in Memoria<div style="display: none;" id="2link">
                <ul style="text-align: left; " id="index">
                    <li><a href="./Architettura/Codifica_Digitale.html#SegnaliInfo">Segnali Informativi</a> </li>
                    <li><a href="./Architettura/Codifica_Digitale.html#ADC">Digitalizzazione</a></li>
                    <li><a href="./Architettura/Codifica_Digitale.html#SND">Sistema Numerico Digitale</a></li>
                    <li><a href="./Architettura/Codifica_Digitale.html#Bool">Algebra Booleana</a></li>
                    <li><a href="./Architettura/Codifica_Digitale.html#Codifica">Codifica dei DATI</a></li>
                </ul>
            </div> </td>
            
            <td  id="8">VIII <a onmouseover="mostra(document.getElementById(`8`).children[1])"  href="Architettura/Circuiti_Memorie.html"><img  src="public/ARCH/Multi_Diagram.png" ></a> - Multiprocessi, Multithread e CPU con multicore paralleli<div style="display: none;" id="2link">
                <ul style="text-align: left; " id="index">
                    <li><a href="./Architettura/Codifica_Digitale.html#SegnaliInfo">Segnali Informativi</a> </li>
                    <li><a href="./Architettura/Codifica_Digitale.html#ADC">Digitalizzazione</a></li>
                    <li><a href="./Architettura/Codifica_Digitale.html#SND">Sistema Numerico Digitale</a></li>
                    <li><a href="./Architettura/Codifica_Digitale.html#Bool">Algebra Booleana</a></li>
                    <li><a href="./Architettura/Codifica_Digitale.html#Codifica">Codifica dei DATI</a></li>
                </ul>
            </div> </td>
            
        </tr>
    </table>
</body>
<script>

    //per ogni elemento td trovato aggiunge un listener di eventi
    document.querySelectorAll('td').forEach(element => {
        element.addEventListener('mouseover', () => {              
            element.children[1].style.display = "block"
        })
        element.addEventListener('mouseleave', () => {              
            element.children[1].style.display = "none"
        })
    })
</script>
</html>