<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
    <link rel="stylesheet" href="/css/stile.css">
    <style>
        .navtable .CFU12{
            flex: 1 1 33%;
            background-color: red;
        }
    </style>
</head>
<body>
    
    <b>
        <div class="title">
            
        </div>
        
        <a href="/archElab">auwebid</a>
        
        <div class="navtable">
            <div class="CFU12"></div>
            <div class="CFU12"></div>
            <div class="CFU12"></div>
            <div class="CFU6">a</div>
            <div class="CFU6">a</div>
            <div class="CFU6">a</div>
            <div class="CFU6">a</div>
        </div>
        </b>
        
    </body>
    </html>