<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
    <link rel="stylesheet" href="/css/globalstyle.css">
    <style>
        .navtable .CFU12{
            flex: 1 1 100%;
            background-color: transparent;
            font-size: 50px;
        }
        .navtable .CFU6 {            

            
            flex: 1 1 50%;
        }
        .navtable .CFU12 .container .linkimg{
            height: 90px;width: 90px;
            padding: 10px 0px;
        }
    </style>
</head>
<body>
    
    <b>
        <div class="title">
            
        </div>
        
        <a href="/archElab">auwebid</a>
        
        <div class="navtable">
            <div class="CFU12">
                12 CFU
            </div>
            <div class="CFU12">
                <div class="container">
                    <a href="/analisi" class="primarylink"><img src="/img/analisi.jpg" alt="analisiimg" class="linkimg">ANALISI</a>
                </div>
            </div>
            <div class="CFU12">
                <div class="container">
                    <a href="/elementi" class="primarylink"><img src="/img/elementi.jpg" alt="analisiimg" class="linkimg">ANALISI</a>
                </div>
            </div>
            <div class="CFU12"> 
                <div class="container">
                    <a href="/program" class="primarylink"><img src="/img/analisi.jpg" alt="analisiimg" class="linkimg">ANALISI</a>
                </div>
            </div>
            <div class="CFU12">6 CFU</div>
            <div class="CFU6">ARCHITETTURA</div>
            <div class="CFU6">TECNOLOGIE WEB</div>
            <div class="CFU6">FISICA IOT</div>
            <div class="CFU6">BASI DI DATI</div>
        </div>
        </b>
        
    </body>
    </html>