<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
    <link rel="stylesheet" href="/css/globalstyle.css">
    <style>
        html {
            background: #2d4afd;
            background: linear-gradient(90deg, #2d4afd 0%, #22c3b6 100%);
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    
    <div id="titlePage">
        <i id="pagelogo" class="fas fa-database"></i>I ANNO IBML
    </div>

    <div class="navtable">
        <div class="linkcell" onmouseleave="dropindex(0, false)"> 
            <div class="container">
                <a onclick="showContent(0)" class="primarylink" href="#SND"><img class="linkimg" src="/img/ARCH/sistemabinario.jpg" >ANALISI</a><span class="dropButton"><i onclick="dropindex (0, true)" class="fas fa-angle-down"></i></span>

            </div>
            <ul class="indexdrop">

            </ul>
        </div>
        <div class="linkcell" onmouseleave="dropindex(1, false)" >
            <div class="container">
                <a onclick="showContent(1)" class="primarylink" target="_blank" href="/Elementi"><img class="linkimg" src="/img/ARCH/sistemabinario.jpg" >ELEMENTI</a><span class="dropButton"><i onclick="dropindex (1, true)" class="fas fa-angle-down"></i></span>
            </div>
        </div>
        <div class="linkcell" onmouseleave="dropindex(2, false)" >
            <div class="container">
                <a onclick="showContent(2)" class="primarylink" href="/archElab"><img class="linkimg" src="/img/ARCH/sistemabinario.jpg" >ARCHITETTURA</a><span class="dropButton"><i onclick="dropindex (2, true)" class="fas fa-angle-down"></i></span>

            </div>
        </div>
        <div class="linkcell" onmouseleave="dropindex(3, false)" >
            <div class="container">
                <a onclick="showContent(3)" class="primarylink" href="#SND"><img class="linkimg" src="/img/ARCH/sistemabinario.jpg" >PROGRAMMAZIONE</a><span class="dropButton"><i onclick="dropindex (3, true)" class="fas fa-angle-down"></i></span>

            </div>
        </div>
        <div class="linkcell" onmouseleave="dropindex(4, false)" >
            <div class="container">
                <a onclick="showContent(4)" class="primarylink" href="#SND"><img class="linkimg" src="/img/ARCH/sistemabinario.jpg" >WEB</a><span class="dropButton"><i onclick="dropindex (4, true)" class="fas fa-angle-down"></i></span>

            </div>
        </div>
    </div>

    <iframe width="400px" height="440px" frameborder="0" src="https://www.okpedia.it/data/okpedia/tool-calcolo-versore-vettore.php"></iframe>

    </body>
    </html>