<!-- PAGINA DI VISUALIZZAZIONE DEI DATI PERSONALI-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/banner.css">
    <style>
        table {
            width: 100%;
            height: 100%;
        }
        
        td {
            width: 50%;
            border: 2px solid black;
            border-radius: 10px;
            text-align: center;
        }
        
        td.info {
            color: red;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-style: oblique;
            border: 2px solid black;
            border-radius: 10px;
            text-align: center;
            height: 50px;
        }
        
        td.links {
            height: 100px;
            margin: 10px;
            width: 100%;
        }
        
        img {
            margin: 20px;
        }
    </style>
    <title>INFORMAZIONI PERSONALI</title>
</head>

<body>
    <table>
        <tr>
            <td class="info"><b>NOME: </b></td>
            <td><b>Damiano</b></td>
        </tr>
        <tr>
            <td class="info"><b>COGNOME: </b></td>
            <td><b>Fumagalli</b></td>
        </tr>
        <tr>
            <td class="info"><b>SCUOLA: </b></td>
            <td><b>I.T.I. Arturo Malignani</b></td>
        </tr>
        <tr>
            <td class="info"><b>CLASSE: </b></td>
            <td><b>5 ^ B</b></td>
        </tr>
        <tr>
            <td class="info"><b>INDIRIZZO DI STUDI: </b></td>
            <td><b>Informatica e Telecomunicazioni</b></td>
        </tr>
        <tr>
            <td colspan="2" class="info">
                <h2><b>CONTATTI</b></h2>
            </td>
        </tr>
        <table>
            <tr>
                <td class="links">
                    <img src="/immagini/gmail.png" width="120px">
                    <a href="mailto:damiano.fumagalli@studenti.malignani.ud.it">
                        <h3>Posta Elettronica</a><br>
                </td>
            </tr>
            <tr>
                <td class="links">
                    <a href="http://linkedin.com/in/damiano-fumagalli-786725206">
                        <img src="/immagini/linkedin.png" width="90px">

                        <h3>Linkedin</h3>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2">

                    <a href="https://www.facebook.com/profile.php?id=100012065269219">
                        <img src="/immagini/faceboook.png" width="90px">
                        <h3>FACEBOOK</h3>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="/account/start">
                        <img src="/immagini/homepage.png" width="90px">
                        <h3>HOME PAGE</h3>
                    </a>

                </td>
            </tr>

        </table>
    </table>
</body>

</html>

</html>