<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Architettura CPU</title>
    <link rel="stylesheet" href="/css/globalstyle.css">

</head>
<body>
    <div class="title" id="title">
        <i id="pagelogo" class="fas fa-wave-square"></i>CODIFICA DIGITALE<a href="/archElab"><div class="homebutton"><i class="fas fa-home"></i><span>HOME</span></div></a>
    </div>
    <a href="https://www.edutecnica.it/informatica/macchina/macchina.htm">LINGUAGGIO MACCHINA</a>
    <a href="http://www.elemania.altervista.org/pic/pic7.html">REGISTRI GPR E SPR</a>
    <a href="https://slideplayer.it/slide/585071/">SLIDE INSTRUCTION SET</a>


</body>
</html>