<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digitale</title>
    <style>
        
        #index li{
            float: left;
            padding-right: 50px;
            font-size: 25px;
            
        }
        #index{
            position: sticky;       /*imposta la posizione in sticky quando incontra la condizione top 0pxx*/
            top: 0px;
        }
    </style>
</head>
<body>
    <h2 style="color: red; font-size: 70px; text-align: center;">Rappresentazione Numeri <a href="../Architettura.html"><img src="../public/homebutton.png" style="height: 55px; width: 55px; padding-left: 30px;"></a></h2>
    <br>
    
    <fieldset id="index">
        <legend><b style="font-size: 40px; color: red;">INDICE</b></legend>
        <ul id="index">
            <li><a href="#SegnaliInfo">Segnali Informativi</a> </li>
            <li><a href="#ADC">Digitalizzazione</a></li>
            <li><a href="#SND">Sistema Numerico Digitale</a></li>
            <li><a href="#Bool">Algebra Booleana</a></li>
            <li><a href="#Codifica">Codifica dei DATI</a></li>
        </ul>
        
    </fieldset>
    <br>
    <div style="text-align: center; font-size: 35px;">
        All'interno di un calcolatore viaggiano segnali di natura elettrica.  Esistono 2 tipi principali di segnale: 
        <br>
    </div>
    
    
    
    <h2  id="SegnaliInfo" style="color: blue; font-size: 40px; text-align: center;">Segnali Informativi</h2>
    <div style="text-align: justify; font-size: 30px;">
        <div style="text-align: center;">
            All'interno di un calcolatore viaggiano segnali di natura elettrica.  Esistono 2 tipi principali di segnale: 
            <br>
        </div>
        <table>
            <tr>
                <td style="width: 50%; border: 3px solid black; border-radius: 30px;">
                    <ul>
                        <li><b>Analogici</b>: variano in analogia con la grandezza fisica (Tensione o Corrente) <br>
                            <img src="../public/ARCH/analogico.png" style="padding: 30px;">
                            <ul>
                                <li>Possiedono un numero infinito di valori all'interno dell'intervallo di ampiezza</li>
                                <li>Solitamente vengono rappresentati da un segnale sinusoidale</li>
                                <li>Maggiormente soggetti all'influenza del rumore</li>
                            </ul>
                        </li>
                    </ul>
                </td>
                <td style="width: 50%; border: 3px solid black; border-radius: 30px;">
                    <ul>
                        <li><b>Digitali:</b>  vengono rappresentati da cifre binarie (digit) <br>
                            <img src="../public/ARCH/digitale.png" style="padding: 30px;">
                            
                            <ul>
                                <li>Numero finito di valori all'interno dell'intervallo di ampiezza</li>
                                <li>rappresentati da un segnale onda quadra</li>
                                <li>Quantizzazione: definisce il numero di valori ammissibili</li>
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
        
    </div>
    
    <br> <hr> 
    <label for="SND">
        <h2 id="SND" style="color: blue; font-size: 40px; text-align: center;">Sistema Numerico Digitale</h2>
        
    </label>
    <div style="text-align: center; font-size: 30px;">
        
        Viene usata la notazione posizionale, perciò ogni cifra ha un'ordine di grandezza <br>
        <img src="../public/ARCH/binario.png" > 
        
        
        <br>
        <h2  style="color: blue; font-size: 35px; text-align: center;">Conversione di base</h2>
        La base è il numero di simboli che ammette l'alfabeto. <br>
        <ul style="text-align: justify;">
            <li><b>Base 10 a Base N:</b>
                
                <div style="text-align: center;">
                </div>
            </li>
            <li><b>Base N a Base 10: </b>
                <ul>
                    <li>Si sfrutta la notazione posizionale</li>
                    <li>N(i)10 = 2* N(i-1)10 + N(i)2</li>
                    <li>Risultato[i] = 2*Risultato_prec + BIT[i]</li>
                </ul>
                <div style="text-align: center;">
                  </div>
            </li>
            <li>
                <b>Base 2 a base 2^N:</b> 
                <ul>
                    <li>
                        N bit = 1 cifra 
                    </li>
                    <li>
                        Il numero binario viene convertito in decimale e poi convertito in N
                    </li>
                </ul>
                <div style="text-align: center;">
                    <img src="../public/ARCH/Base2-N.png" style="width: 65%;">
                </div>
            </li>
            <li>
                <b>Base 2^N a Base 2:</b>
                <ul>
                    <li>1 cifra = N bit</li>
                    <li>Il numero viene convertito in binario seguendo le classiche operazioni</li>
                </ul>
            </li>
        </ul> <hr>
        
    </div>
    <hr>
    
    <hr>
    <div id="Codifica" style="font-size: 30px;">
        <h2  style="color: blue; font-size: 35px; text-align: center;">Codifica dei DATI</h2>
        Un PC deve essere in grado di codificare opportunamente qualsiasi tipo di dato:
        <ul style="font-size: 20px;">
            <li><b><a href="#CodificaNumeri">NUMERI</a></b></li>
            <li><b><a href="#CodificaChar">CARATTERI TESTUALI</a></b></li>
            <li><b>IMMAGINI/VIDEO</b></li>
            <li><a href="#ADC"><b>SUONI</b></a></li>
        </ul>
        <div id="CodificaNumeri" >
            <h2  style="color: blue; font-size: 35px; text-align: center;">Codifica dei NUMERI</h2>
            
            
            <ul style="text-align: left;">
                <li>16-32-64bit FIXED POINT = virgola fissa posta dopo l'ultimo bit 2^0   <a target=”_blank” href="https://it.wikipedia.org/wiki/Rappresentazione_dei_numeri_relativi#Eccesso_N">???</a>
                    <ul>
                        <li>
                            <b>NATUALI(N)</b>  = solo positivi -> <b>unisigned</b>
                        </li>
                        <li><b>INTERI(Z)</b>  = + o -  -> <b>signed</b></li>
                    </ul>
                    Tipi di codifica per numeri INTERI:
                    <ul>
                        <li style="padding-bottom: 30px;"><b>Ultimo bit</b> assegnato al segno. 1="-"   0="+" <br> 8bit di codifica 9 = 0 0001001   ///  -9 = 1 0001001
                        </li>
                        <li style="padding-bottom: 30px;"><b>Complemento a 1 </b><br>
                            Si nega tutto il numero  ->     9 = 00001001   ///  -9 = 11110110 <br> Vi sono 2 rappresentazioni possibili del numero 0
                        </li>
                        <li style="padding-bottom: 30px;"><b>Complemento a 2 </b><br>
                            <ul>
                                <li>
                                    Valori tra 0 e 2^(Nbit-1) = codificati normalmente = <b>POSITIVI</b>
                                </li>
                                <li>
                                    Valori tra -1 e -2^(Nbit-1) = codificati con Complemento a 2   <b>NEGATIVI</b> <br>
                                    <img src="../public/ARCH/Complementoa2.png" style="padding: 25px;"> <br>
                                    <b>VANTAGGI</b>
                                    <ul>
                                        <li>
                                            SEGNO Immediatamente riconoscibile dall'ultimo bit
                                        </li>
                                        <li><b>Sottrazione</b> si somma un termine NEGATIVO</li>
                                        <li><b>Prodotto</b> = Somma N volte quante il termine positivo</li>
                                        <li><b>Divisione</b> = Sottazione del Divisore fino ad annullare il dividendo <b>contando</b> le sottrazioni</li>
                                        <li>Vi è <b>una sola</b> rappresentazione dello 0</li>
                                    </ul>
                                </li>
                            </ul>          
                        </li>
                        <li style="padding-bottom: 30px;"><b>Eccesso N=2^(nbit-1)</b><br>
                            <ul>
                                <li>Lo 0 viene codificato come 2(nbit-1)</li>
                                <li>-2^(nbit-1) - 2^(nbit-1)</li>
                                <li>Numeri <b>positivi</b> 0 - 2^(nbit-1) = 1000 - 1111</li>
                                <li>numeri <b>negativi</b> -1 - -2^(nbit-1) = 0111 - 0000</li>
                            </ul>
                        </li>
                    </ul>
                    <img src="../public/ARCH/codifica_numeri.png" style="padding-left: 100px;">
                </li>
                <li style="padding: 30px;">32-64-128bit FLOATING POINT
                    <br><b>REALI(R)</b><br>
                    Rappresentati in notazione normalizzata, con <b>mantissa</b> e <b>esponente</b><br>
                    <img src="../public/ARCH/floatingpoint.png"><img src="../public/ARCH/floatingconv.png">
                    
                </li>
            </ul>
        </div>
        <div id="CodificaChar">
            <h2  style="color: blue; font-size: 35px; text-align: center;">Codifica dei CARATTERI</h2>
            Un carattere è un <b>elemento singolo</b> di una <b>stringa di testo</b><br>
            <ul>
                <li>Cifre, Lettere, Simboli di Puntaggiatura</li>
                <li>Simboli speciali #, %, @, ...</li>
                <li>Caratteri speciali che contengono informazioni di controllo <br> come tabulazione, ESC, spostamento del cursore</li>
            </ul>
            <b>CODICE ARBITRARIO</b> <br>
            <ul>
                <li>Per le Cifre si usa la formula C('0') + Cifra</li>
                <li>Per i caratteri si usa la formula C('A') + posLettera-1</li>
            </ul>
            Esistono diversi codici per rappresentare i vari caratteri testuali, <br> ognuno di essi ha una tabella che converte ogni carattere in formato binario
            <br>
            <h3 style="color: blue; text-align: center;">CODICE ASCII</h3>
            <table>
                <tr>
                    <td style="width: 50%;">
                        <figure>
                            <img src="../public/ARCH/ASCII7bit.jpg" >
                            <figcaption>ASCII standard 7 bit</figcaption>
                        </figure>
                    </td>
                    <td style="width: 50%;">
                        <figure>
                            <img src="../public/ARCH/ASCII8BIT.jpg">
                            
                            <figcaption>ASCII esteso 8 bit</figcaption>
                        </figure>
                    </td>
                </tr>
            </table>
            <h3 style="color: blue; text-align: center;">CODICE UCS (UNICODE Character Set)</h3>
            <ul>
                <li>Codice a lunghezza variabile, 2 o più Byte per Carattere</li>
                <li>Il codice carattere non è univoco</li>
                <li>Alcuni codepoint vengono lasciati vuoti per future espansioni</li>
            </ul>
            
            <div style="text-align: center;">
                
                
                <h3 style="color: blue; text-align: center;">UTF (UCS Transformation Format)</h3>
                <img src="../public/ARCH/UTFCODE.png" style="padding: 30px;"> <br> 
                Alcuni Bit sono bloccati mentre quelli espressi con 'd' sono liberi di cambiare, codificando ogni tipo di carattere
            </div>
            <div>
                <h3 style="color: blue; text-align: center;">PROPRIET&Aacute; di un CODICE</h3>
                <ul>
                    <li><b>compatto</b>: deve limitare il numero di bit necessari per la codifica</li>
                    <li><b>pratico</b>: ottenere il codice semplicemente</li>
                    <li><b>accuratezza</b>: deve minimizzare le perdite di informazione</li>
                </ul>
                &Eacute; possibile che si verifichino degli errori nella trasmissione o nella memorizzazione.
                <ul>
                    <li><b>RUMORE</b> nel canale di trasferimento</li>
                    <li><b>Imperfezione</b> nei supporti di memorizzazione</li>
                    <li><b>Alterazioni</b> dei supporti di <b>memoria</b> (radioattività)</li>
                </ul> 
                
            </div>
            
            
        </div>
        <div id="CorrezioneErrori">
            <h2  style="color: blue; font-size: 35px; text-align: center;">Codici Correzione Errori</h2>
            <ul>
                <li><b>Codice di Parità</b> (PARI o DISPARI) <br>
                    <img src="../public/ARCH/codiceparità.jpg"> <br>
                    <ul>
                        <li>Il <b>codice</b> viene <b>diviso in parole</b> di N bit</li>
                        <li>A <b>ogni parola</b> viene <b>aggiunto il parity flag</b></li>
                        <li>Il <b>numero di 1</b> nella parola + flag deve essere <b>PARI o DISPARI</b> a seconda del tipo di codice</li>
                        <li>Questo codice è in grado di <b> rilevare l'errore</b>, ma <b>non correggerlo</b></li>
                        <li><b>NON rileva </b> errori che <b>intaccano un numero pari</b> di bit</li>
                    </ul>
                </li>
                <li style="padding: 30px;">Distanza di Hamming</li>
            </ul>
        </div>
        <div id="CodificaIMG">
            
        </div>
        <div id="CodificaSuoni">
            
        </div>
    </div>
    
</body>
</html>