<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEMORIE</title>
    <link rel="stylesheet" href="/css/globalstyle.css">
    <link rel="stylesheet" href="/css/Memoria.css">
</head>
<body>

    <div id="titlePage">
        <i id="pagelogo" class="fas fa-database"></i></i></i>MEMORIE<a href="/archElab"><div class="homebutton"><i class="fas fa-home"></i><span>HOME</span></div></a>
    </div>

    <div class="navtable">
        <div class="linkcell" onmouseleave="dropindex(0, false)">
            <div class="container">
                <a class="primarylink" href="#Gerarchia"><img class="linkimg" src="/img/ARCH/Gerarchia.png" > - GERARCHIA</a><span class="dropButton"><i onclick="dropindex (0, true)" class="fas fa-angle-down"></i></span>
            </div>
            <ul class="indexdrop">
                <li>
                    <a href="#Livelli">
                        LIVELLI
                    </a>
                </li>
                <li>
                    <a href="#Funzione">
                        INTERFACCIA
                    </a>
                </li>
            </ul>
        </div>
        <div class="linkcell" onmouseleave="dropindex(1, false)">
            <div class="container">
                <a class="primarylink" href="#Registri"><img class="linkimg" src="/img/ARCH/RegIcon.png" > - REGISTRI CPU</a><span class="dropButton"><i onclick="dropindex (1, true)" class="fas fa-angle-down"></i></span>
            </div>
            <ul class="indexdrop">
                <li><a href="#">STRUTTURA</a></li>
                <li><a href="#">TIPOLOGIE</a></li>
                <li><a href="#">FUNZIONE</a></li>
            </ul>
        </div>
        <div class="linkcell" onmouseleave="dropindex(2, false)">
            <div class="container">
                <a class="primarylink" href="#cache"><img class="linkimg" src="/img/ARCH/sram_basic_cell.png" > - CACHES</a><span class="dropButton"><i onclick="dropindex (2, true)" class="fas fa-angle-down"></i></span>
            </div>
            <ul class="indexdrop">
                <li><a href="#">STRUTTURA</a></li>
                <li><a href="#">LIVELLI</a></li>
                <li><a href="#">FUNZIONE</a></li>
                <li><a href="#">INTERFACCIA</a></li>
            </ul>
        </div>
        <div class="linkcell" onmouseleave="dropindex(3, false)">
            <div class="container">
                <a class="primarylink" href="/archElab/MemVIRT"><img class="linkimg" src="/img/ARCH/HDD.png" > - MEMORIA VIRTUALE</a><span class="dropButton"><i onclick="dropindex (3, true)" class="fas fa-angle-down"></i></span>
            </div>
            <ul class="indexdrop">
                <li><a href="#">STRUTTURA</a></li>
                <li><a href="#">INDIRIZZAMENTO</a></li>
            </ul>
        </div>
        <div class="linkcell" onmouseleave="dropindex(4, false)">
            <div class="container">
                <a class="primarylink" href="/archElab/RAM"><img class="linkimg" src="/img/ARCH/memoria.png" > - MEMORIA PRINCIPALE</a><span class="dropButton"><i onclick="dropindex (4, true)" class="fas fa-angle-down"></i></span>
            </div>
            <ul class="indexdrop">
                <li><a href="#">STRUTTURA</a></li>
                <li><a href="#">FUNZIONE</a></li>
                <li><a href="#">INTERFACCIA</a></li>
            </ul>
        </div>
        
        <div class="linkcell" onmouseleave="dropindex(5, false)">
            <div class="container">
                <a class="primarylink" href="#Access"><img class="linkimg" src="/img/ARCH/AccessoMEM.png" > - ACCESSO MEMORIE</a><span class="dropButton"><i onclick="dropindex (5, true)" class="fas fa-angle-down"></i></span>
            </div>
            <ul class="indexdrop">
                <li><a href="#">REGISTRI</a></li>
                <li><a href="#">CACHE</a></li>
                <li><a href="#">RAM</a></li>
                <li><a href="#">DISCO</a></li>
            </ul>
        </div>
    </div>


    <nav class="navbar">
        <button id="navButton"><i id="navlogo" class="fas fa-bars"></i><b>NAVBAR</b></button>
        <div id="index">
            <button id="hideNav"><i class="fas fa-ban"></i>HIDE BAR</button>
            <a href="#title"><i class="fas fa-angle-double-up">PAGE TOP</i></a>
            <a onclick="showContent(0)" href="#">LINK interno</a>
            <button id="hideAll" ><i class="fas fa-ban"></i>HIDE ALL</button>
        </div>
    </nav>

    <div id="Gerarchia" class="textContent">
        <h2>GERARCHIA MEMORIA</h2>
        <div class="content">
            <div id="">
                <h1>LIVELLI</h1>
            </div>
            <div id="">
                <h1>INTERFACCIA</h1>
            </div>
        </div>
        <hr>
    </div>

    <div id="Registri" class="textContent">
            <h2>REGISTRI CPU</h2>
            <div class="content">
                <div id="">
                    <h1>TIPOLOGIE</h1>
                </div>
                <div id="">
                    <h1>STRUTTURA</h1>
                </div>
                <div id="">
                    <h1>FUNZIONE</h1>
                </div>
            </div>
            <hr>
        </div>

    <div id="cache" class="textContent">
        <h2>MEMORIA CACHE</h2>
        <div class="content">
            <div id="">
                <h1>LIVELLI</h1>
            </div>
            <div id="">
                <h1>FUNZIONE</h1>
            </div>
            <div id="">
                <h1>STRUTTURA</h1>
            </div>
            <div id="">
                <h1>MAPPATURA</h1>
            </div>
        </div>
        <hr>
    </div>

    

    

    <div id="VIRTUALE" class="textContent">
        <h2>MEMORIA VIRTUALE</h2>
        <div class="content">
            <div id="PAG">
                <h1>STRUTTURA</h1>

            </div>
            <div id="SEG">
                <h1>INDIRIZZAMENTO</h1>
            </div>
        </div>
        <hr>
    </div>



    <div id="" class="textContent">
        <h2>MEMORIA PRINCIPALE</h2>
        <div class="content">
            <div id="">
                <h1>STRUTTURA</h1>
            </div>
            <div id="">
                <h1>ACCESSO</h1>
            </div>
            <div id="">
                <h1>INTERFACCIA</h1>
            </div>
        </div>
        <hr>
    </div>


    <div id="" class="textContent">
        <h2>ACCESSO MEMORIA</h2>
        <div class="content">
            <div id="">
                <h1>REGISTRI</h1>
            </div>
            <div id="">
                <h1>CACHE</h1>
            </div>
            <div id="">
                <h1>RAM</h1>
            </div>
            <div id="">
                <h1>DISCO</h1>
            </div>
        </div>
        <hr>
    </div>

    

    <script src="/js/MainScript.js"></script>
    <script src="https://kit.fontawesome.com/93e39226bb.js" crossorigin="anonymous"></script>
</body>
</html>