<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CALCOLATORI</title>
    <link rel="stylesheet" href="/css/globalstyle.css">
</head>
<body>

    <div id="titlePage">
        <i id="pagelogo" class="fas fa-desktop"></i></i>STRUTTURA FISICA PC<a href="/"><div class="homebutton"><i class="fas fa-home"></i><span>HOME</span></div></a>
    </div>

    <div class="navtable">
        <div class="linkcell" onmouseleave="dropindex(0, false)">
            <div class="container">
                <a class="primarylink" href="#Storia"><img class="linkimg" src="/img/ARCH/storialogo.png" > - STORIA</a><i onclick="dropindex (0, true)" class="fas fa-angle-down"></i>
            </div>
            <ul class="indexdrop">
                
            </ul>
        </div>
    </div> 


    <nav class="navbar">
        <button id="navButton"><i id="navlogo" class="fas fa-bars"></i><b>NAVBAR</b></button>
        <div id="index">
            <button id="hideNav"><i class="fas fa-ban"></i>HIDE BAR</button>
            <a href="#title"><i class="fas fa-angle-double-up">PAGE TOP</i></a>
            <a onclick="showContent(0)" href="#">LINK interno</a>
            <button id="hideAll" ><i class="fas fa-ban"></i>HIDE ALL</button>
        </div>
    </nav>
    

    <div id="" class="textContent">
        <h2>TITOLO MAIN CONTENUTO</h2>
        <div class="content">
            <div id="">
                <h1>SUBCONTENT1</h1>
            </div>
            <div id="">
                <h1>SUBCONTENT1</h1>
            </div>
        </div>
        <hr>
    </div>

    

    <script src="/js/MainScript.js"></script>
    <script src="https://kit.fontawesome.com/93e39226bb.js" crossorigin="anonymous"></script>
</body>
</html>