<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CALCOLATORI</title>
    <link rel="stylesheet" href="/css/globalstyle.css">
    <link rel="stylesheet" href="/css/Struct.css">
    <style>
        body {
            background: rgb(84,203,22);
            background: linear-gradient(90deg, rgba(84,203,22,1) 0%, rgba(39,235,176,1) 50%, rgba(23,255,0,1) 100%);
        }
    </style>
</head>
<body>

    <div id="titlePage">
        <i id="pagelogo" class="fas fa-desktop"></i></i>STRUTTURA FISICA PC<a href="/archElab"><div class="homebutton"><i class="fas fa-home"></i><span>HOME</span></div></a>
    </div>

    <div class="navtable">
        <div class="linkcell" onmouseleave="dropindex(0, false)">
            <div class="container">
                <a class="primarylink"  href="/archElab/Storia"><img class="linkimg" src="/img/ARCH/storialogo.png" > - STORIA</a><span class="dropButton"><i onclick="dropindex (0, true)" class="fas fa-angle-down"></i></span>
            </div>
            <div class="indexdrop">
                <a href="/archElab/Storia?id=GEN0"><abbr title="MECCANICI">GEN 0</abbr></a>
                <a href="/archElab/Storia?id=GEN1"><abbr title="VALVOLE">GEN 1</abbr></a>
                <a href="/archElab/Storia?id=GEN2"><abbr title="TRANSISTORS">GEN 2</abbr></a>
            </div>
        </div>
        <div class="linkcell" onmouseleave="dropindex(1, false)">
            <div class="container">
                <a class="primarylink" onclick="showContent(0)" href="#Logic"><img class="linkimg" src="/img/ARCH/neumann2.jpg" > - STRUTTURA LOGICA</a><span class="dropButton"><i onclick="dropindex (1, true)" class="fas fa-angle-down"></i></span>
                
            </div>
            <ul class="indexdrop"></ul>
        </div>
        <div class="linkcell" onmouseleave="dropindex(2, false)">
            <div class="container">
                <a class="primarylink" onclick="showContent(1)" href="#Fisic"><img class="linkimg" src="/img/ARCH/hardware.jpg" > - STRUTTURA FISICA</a><span class="dropButton"><i onclick="dropindex (2, true)" class="fas fa-angle-down"></i></span>

            </div>
            <ul class="indexdrop"></ul>
        </div>
        <div class="linkcell" onmouseleave="dropindex(3, false)">
            <div class="container">
                <a class="primarylink" onclick="showContent(2)" href="/archElab/CPU"><img class="linkimg" src="/img/ARCH/software.jpeg" > - SOFTWARE</a><span class="dropButton"><i onclick="dropindex (3, true)" class="fas fa-angle-down"></i></span>

            </div>
            <ul class="indexdrop"></ul>
        </div>
    </div> 


    <nav class="navbar">
        <button id="navButton"><i id="navlogo" class="fas fa-bars"></i><b>NAVBAR</b></button>
        <div id="index">
            <button id="hideNav"><i class="fas fa-ban"></i>HIDE BAR</button>
            <a href="#title"><i class="fas fa-angle-double-up">PAGE TOP</i></a>
            <a onclick="showContent(0)" href="#Logic">LOGICA</a>
            <button id="hideAll" ><i class="fas fa-ban"></i>HIDE ALL</button>
        </div>
    </nav>
    <hr>

    <div id="Logic" class="textContent">
        <h2>STRUTTURA LOGICA</h2>
        <div class="content">
            <div >
                <h1>LIVELLI LOGICI</h1>
                <figure>
                    <img src="/img/ARCH/LogicalLevelsCPU.jpg" alt="">
                    <figcaption>Livello maggiore: interfaccia Utente</figcaption>
                </figure>
                <ul>
                    <li><b>ATOMS:</b> Atomi di Silicio, che è la base per i circuiti elettrici -> alta conducibilità</li>

                    INSERIRE SPEIGAZIONE TRANSISTORS

                    INPUT FOCUS PER CONVERSIONE


                    <li><a href="/archElab/Storia?id=GEN2"><abbr title="INFO TRANSISTORS">???</abbr></a> <b>TRANSISTORS:</b> Elemento base nei PC moderni </li>
                    <li><a href="/archElab/Circuiti?id=Gates"><abbr title="INFO PORTE LOGICHE">???</abbr></a> <b>LOGIC GATES:</b> Porte Logiche di base </li>
                    <li><a href="/archElab/Circuiti?id=Circuiti"><abbr title="INFO CIRCUITI LOGICI">???</abbr></a> <b>FUNCT UNITS:</b> Ogni CHIP ha una sua precisa funzione</li>
                    <li><a href="/archElab/CPU?id=ALU"><abbr title="INFO ALU">???</abbr></a> <b>EXEC UNITS:</b> Circuiti integrati dedicati all'esecuzione delle istruzioni</li>
                    <li><b>MICROARCHITECTURE:</b> HW costituito dai circuiti integrati che collaborano tra loro</li>
                    <li><b>ISA:</b> Insieme delle istruzioni di basso livello operabili sull'HW</li>
                    <li><b>OPERATING SYSTEM:</b> Gestisce le risorse del PC e interfaccia Utente con Hardware</li>
                    <li><b>PROGR LANGUAGES:</b> Linguaggi di programmazione alto livello per la creazione delle APP</li>
                    <li><b>APPLICATION:</b> Interfaccia utente e applicazioni eseguibili</li>
                </ul>
            </div>
            
        </div>
        <hr>
    </div>

    <div id="Fisic" class="textContent">
        <h2>STRUTTURA FISICA</h2>
        <div class="content">
            <div id="">
                <h1>HARDWARE</h1>
                <figure>
                    <img src="/img/ARCH/schedamadre.png" style="width: 400px; height: 300px;">
                    <figcaption>SCHEDA MADRE su cui risiedono i componenti elettrici</figcaption>
                </figure>
            </div>
        </div>
        <hr>
    </div>

    
    <script src="/js/GestioneQuery.js"></script>
    <script src="/js/MainScript.js"></script>
    <script src="https://kit.fontawesome.com/93e39226bb.js" crossorigin="anonymous"></script>
</body>
</html>