<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/globalstyle.css">
    <link rel="stylesheet" href="/css/Memoria.css">
</head>
<body>

    <div id="titlePage">
        <i id="pagelogo" class="fas fa-database"></i>MEMORIA CACHE<a href="/archElab/Memoria"><div class="homebutton"><i class="fas fa-home"></i><span>HOME</span></div></a>
    </div>

    <div class="navtable">
        <div class="linkcell" onmouseleave="dropindex(0, false)"> 
            <div class="container">
                <a onclick="showContent(0)" class="primarylink" href="#SND"><img class="linkimg" src="/img/ARCH/sistemabinario.jpg" >STRUTTURA</a><span class="dropButton"><i onclick="dropindex (0, true)" class="fas fa-angle-down"></i></span>
                
            </div>
            <ul class="indexdrop">

            </ul>
        </div>
        <div class="linkcell" onmouseleave="dropindex(1, false)"> 
            <div class="container">
                <a onclick="showContent(1)" class="primarylink" href="#SND"><img class="linkimg" src="/img/ARCH/sistemabinario.jpg" >LIVELLI</a><span class="dropButton"><i onclick="dropindex (1, true)" class="fas fa-angle-down"></i></span>
            </div>
            <ul class="indexdrop">

            </ul>
        </div>
        <div class="linkcell" onmouseleave="dropindex(2, false)"> 
            <div class="container">
                <a onclick="showContent(2)" class="primarylink" href="#SND"><img class="linkimg" src="/img/ARCH/sistemabinario.jpg" >FUNZIONE</a><span class="dropButton"><i onclick="dropindex (2, true)" class="fas fa-angle-down"></i></span>
            </div>
            <ul class="indexdrop">

            </ul>
        </div>
        <div class="linkcell" onmouseleave="dropindex(3, false)"> 
            <div class="container">
                <a onclick="showContent(3)" class="primarylink" href="#SND"><img class="linkimg" src="/img/ARCH/sistemabinario.jpg" >INTERFACCIA</a><span class="dropButton"><i onclick="dropindex (3, true)" class="fas fa-angle-down"></i></span>
            </div>
            <ul class="indexdrop">

            </ul>
        </div>
        
    </div>
    <nav class="navbar">
            <button id="navButton"><i id="navlogo" class="fas fa-bars"></i><b>NAVBAR</b></button>

            <div id="index" >

                <button id="hideNav"><i class="fas fa-ban"></i>HIDE BAR</button>
                <a href="#title"><i class="fas fa-angle-double-up">PAGE TOP</i></a>
                <a onclick="showContent(0)" href="#Digit">Struttura</a>
                <a onclick="showContent(1)" href="#SND">Livelli</a>
                <a onclick="showContent(2)" href="#Bool">Funzione</a>
                <a onclick="showContent(3)" href="#Codifica">Interfaccia</a>
                <button id="hideAll" ><i class="fas fa-ban"></i>HIDE ALL</button>
        </div>
    </nav>
    <div id="" class="textContent">
        <h1>TITOLO MAIN CONTENUTO</h1>
        <div class="content">
            <div id="">
                <h2>SUBCONTENT1</h2>
            </div>
            <div id="">
                <h2>SUBCONTENT1</h2>
            </div>
        </div>
        <hr>
    </div>









    <script src="/js/MainScript.js"></script>
    <script src="https://kit.fontawesome.com/93e39226bb.js" crossorigin="anonymous"></script>
</body>
</html>