<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEMORIA RAM</title>


    <link rel="stylesheet" href="/css/globalstyle.css">
    <link rel="stylesheet" href="/css/RAM.css">

</head>
<body>
    
    <div id="titlePage">
        <i id="pagelogo" class="fas fa-database"></i></i></i>MEMORIA RAM<a href="/archElab/Memoria"><div class="homebutton"><i class="fas fa-home"></i><span>HOME</span></div></a>
    </div>

    <div class="navtable">
        <div class="linkcell" onmouseleave="dropindex(0, false)"> 
            <div class="container">
                <a onclick="showContent(0)" class="primarylink" href="#Struttura"><img class="linkimg" src="/img/ARCH/BANCORAM.jpg" >STRUTTURA</a><span class="dropButton"><i onclick="dropindex (0, true)" class="fas fa-angle-down"></i></span>

            </div>
            <ul class="indexdrop">

            </ul>
        </div>
        <div class="linkcell" onmouseleave="dropindex(1, false)"> 
            <div class="container">
                <a onclick="showContent(1)" class="primarylink" href="#Indirizzi"><img class="linkimg" src="/img/ARCH/sistemabinario.jpg" >INDIRIZZI</a><span class="dropButton"><i onclick="dropindex (1, true)" class="fas fa-angle-down"></i></span>

            </div>
            <ul class="indexdrop">

            </ul>
        </div>
        <div class="linkcell" onmouseleave="dropindex(2, false)"> 
            <div class="container">
                <a onclick="showContent(2)" class="primarylink" href="#SRAM"><img class="linkimg" src="/img/ARCH/SRAM.jpg" >SRAM</a><span class="dropButton"><i onclick="dropindex (2, true)" class="fas fa-angle-down"></i></span>

            </div>
            <ul class="indexdrop">

            </ul>
        </div>
        <div class="linkcell" onmouseleave="dropindex(3, false)"> 
            <div class="container">
                <a onclick="showContent(3)" class="primarylink" href="#DRAM"><img class="linkimg" src="/img/ARCH/DRAM.jpg" >DRAM</a><span class="dropButton"><i onclick="dropindex (3, true)" class="fas fa-angle-down"></i></span>

            </div>
            <ul class="indexdrop">

            </ul>
        </div>
        <div class="linkcell" onmouseleave="dropindex(4, false)"> 
            <div class="container">
                <a onclick="showContent(4)" class="primarylink" href="#ACCESSO"><img class="linkimg" src="/img/ARCH/ACCESSO.jpg" >ACCESSO</a><span class="dropButton"><i onclick="dropindex (4, true)" class="fas fa-angle-down"></i></span>

            </div>
            <ul class="indexdrop">

            </ul>
        </div>
        <div class="linkcell" onmouseleave="dropindex(5, false)"> 
            <div class="container">
                <a onclick="showContent(5)" class="primarylink" href="#Interfaccia"><img class="linkimg" src="/img/ARCH/INTERFACCIA.jpg" >INTERFACCIA</a><span class="dropButton"><i onclick="dropindex (5, true)" class="fas fa-angle-down"></i></span>

            </div>
            <ul class="indexdrop">

            </ul>
        </div>
    </div>

    <nav class="navbar">
            <button id="navButton"><i id="navlogo" class="fas fa-bars"></i><b>NAVBAR</b></button>
    
            <div id="index" >
    
                <button id="hideNav"><i class="fas fa-ban"></i>HIDE BAR</button>
                <a href="#title"><i class="fas fa-angle-double-up">PAGE TOP</i></a>
                <a onclick="showContent(0)" href="#Struttura">Struttura</a>
                <a onclick="showContent(1)" href="#Indirizzi">Indirizzi</a>
                <a onclick="showContent(2)" href="#SRAM">SRAM</a>
                <a onclick="showContent(3)" href="#DRAM">DRAM</a>
                <a onclick="showContent(3)" href="#ACCESSO">Accesso</a>
                <a onclick="showContent(3)" href="#Interfaccia">Interfaccia</a>
                <button id="hideAll" ><i class="fas fa-ban"></i>HIDE ALL</button>
                <div class="drop">
                </div>
        </div>
    </nav>

    <div id="Struttura" class="textContent">
        <h1>STRUTTURA</h1>
        <div class="content">
            <div id="RankRAM">
                <h2>RANK</h2>
                <figure>
                    <img src="/img/ARCH/StrutturaRAM.jpg" alt="Il modulo RAM è diviso in CHIP">
                    <figcaption>Il <b>modulo RAM</b> è diviso in RANK da N <b>CHIP</b> , i quali sono formati da <b>N Banchi</b>, i quali sono formati da <b>M Array</b></figcaption>
                </figure>
                
            </div>
            
            <div id="BanchiRAM">
                <h2>BANCO</h2>
                <figure>
                    <img src="/img/ARCH/BancoRAM.jpg" alt="Banco suddiviso in 8 ARRAY">
                    <figcaption>Il <b>banco</b> è suddiviso in <b>N(2^x) array</b></figcaption>
                </figure>
                <ul>
                    <li>Durante un'<b>accesso</b> viene identificata la <b>RIGA <abbr title="Raw Access Strobe">(RAS)</abbr></b> di <b>tutti gli array</b>.</li>
                    <li>Una volta <b>trovata la riga</b> si cerca la <b>COLONNA <abbr title="Coloumn Access Strobe">(CAS)</abbr></b>, individuando <b>1bit</b> per ogni ARRAY </li>
                    <li>Nei sistemi moderni è stato introdotto un <b><a href="#ACCESSO">BURST</a></b> per prelevare <b>multiple locazioni di memoria contigue</b></li>
                </ul>
                
                <br>
                
            </div>
            <div id="ArrayRAM">
                <h2>ARRAY</h2>
                <figure>
                    <img src="/img/ARCH/ArrayRAM.jpg" alt="Array Bidimensionale di celle di BIT">
                    <figcaption>Ogni ARRAY contiene tante <b>celle da 1bit</b> ciascuna</figcaption>
                </figure>
                Durante l'accesso viene prelevato <b>1 bit per ogni ARRAY</b>. <br>
                Nel caso in cui vi sia un <b>BURST</b> sono lette anche le <b>celle successive</b> a quella appena letta
                
            </div>
        </div>
        
    </div>


    <div id="Indirizzi" class="textContent">
        <h1>INDIRIZZI MEMORIA</h1>
        <div class="content">
            <div id="RAMAddress">
                <h2>INDIRIZZAMENTO</h2>
                <figure>
                    <img src="/img/ARCH/RAMAddressing.png" alt="">
                    <figcaption>
                        <ul>
                            <li>Nel primo caso un'indirizzo individua una locazione di 8bit = 1Byte</li>
                            <li>Nel secondo caso un'indirizzo individua 4 locazioni contigue = 4*1Byte= 4Bytes = 1 WORD</li>
                        </ul>
                    </figcaption>
                </figure>
            </div>
            <div id="">
                <h2>FORMATO</h2>
                <figure>
                    <img src="/img/ARCH/FormatoADDR.jpg" alt="L'indirizzo è diviso in differenti campi">
                    <figcaption><p>La lunghezza totale dipende dalla architettura in uso.<br>Ogni campo individuato ha una sua funzione</p>
                        <ul>
                            <li><b>MSB</b>: usato per la mappatura in <a href="/archElab/Cache">CACHE</a></li>
                            <li><b>PA</b>: usato per la paginazione virtuale</li>
                            <li><b>PAoffs</b>: usato per l'indirizzamento all'interno di una pagina</li>
                            <li><b>INDEX</b>: (PA+PAoffs) identifica la linea di CACHE</li>
                            <li><b>OFFSET</b>: usato per l'accesso alle celle di CACHE</li>
                        </ul>
                    </figcaption>
                </figure>
                
            </div>
            <div id="">
                <h2>VIRTUALI</h2>
                <figure>
                    <img src="/img/ARCH/IndirizzoVirtuale.jpg" alt="Interpretazione indirizzo logico in fisico">
                    <figcaption>
                        <ul>
                            <li>L'indirizzo logico è <b>generato dalla CPU</b></li>
                            <li>Riferimento alla <a href="/archElab/Memoria/MemVIRT"><b>memoria virtuale</b></a></li>
                            <li><b>L'indirizzo virtuale viene mappato e associato all'indirizzo fisico della RAM</b></li>
                            <li>Il campo OFFSET non viene convertito perchè individua il BYTE da leggere corrispondente agli utlimi bit della COLONNA dell'Array</li>
                        </ul>
                    </figcaption>
                </figure>
                
                
            </div>
            <div id="">
                <h2>FISICI</h2>
                <figure>
                    <img src="/img/ARCH/IndirizzamentoFISICO.jpg" alt="Suddivisione logica nei campi RIGA, COLONNA e BANCO">
                    <figcaption>
                        <ul>
                            <li><b>BANCO</b>: individua quale dei N banchi selezionare nel CHIP</li>
                            <li><b>RIGA</b>: individua la RIGA durante il RAS per accedere agli Array</li>
                            <li><b>COLONNA</b>: individua il bit fisico da leggere nella RIGA</li>
                        </ul>

                    </figcaption>
                </figure>
            </div> 
        </div>
        
    </div>

    <div id="SRAM" class="textContent">
        <h1>RAM STATICA</h1>
        <div class="content">
            <div id="StruttSRAM">
                <h2>STRUTTURA</h2>
                <figure>
                    <img src="/img/ARCH/SRAM.jpg" alt="Celle di memoria STATICA">
                    <figcaption>
                        <ul>
                            <li>Le celle possiedono <b>1 WL e 2 BL</b>, una negata all'altra</li>
                            <li>1 Cella <b>6 Transistors = 1bit</b></li>
                            <li>Mantiene il dato <b>all'interno del Latch</b></li>
                            <li><b>Accesso Immediato NON Distruttivo</b></li>
                        </ul>
                    </figcaption>
                </figure>
            </div>
            <div>
                <h2>CELLA</h2>
                <figure>
                    <img src="/img/ARCH/CellaSRAM.jpg" alt="Cella SRAM con 6 transistor">

                    <figcaption>
                        <ul>
                            <li>6 transistor: 2 WL gate, 4 per Latch</li>
                            <li>Il <b>dato</b> viene <b>mantenuto all'infinito</b> finchè c'è alimentazione</li>
                            <li>Accesso molto rapido</li>
                        </ul>
                    </figcaption>
                </figure>
            </div>
            <div id="">
                <h2>UTILIZZO</h2>
                <figure>
                    <figcaption>
                        <ul>
                            <li>Memorie ad <b>alta velocità, meno capienti, più vicine</b> alla CPU</li>
                            <li><b>Registri CPU</b> <a href="/archElab/CPU">??</a></li>
                            <li><b>Memoria Cache:</b> <a href="/archElab/Cache">??</a>
                                <dl>
                                    <dt>Sincrona</dt>
                                    <dd><ul>
                                        <li>BUS con grande Banda (Gb/s)</li>
                                        <li>Regolata dal segnale di CLK</li>
                                    </ul></dd>
                                    <dt>Asincrona</dt>
                                    <dd>
                                        <ul>
                                            <li>Viene regolata dal flusso degli indirizzi in arrivo</li>
                                            <li>Bassa Banda</li>
                                            <li>Risparmio energetico</li>
                                        </ul>
                                    </dd>
                                </dl>
                            </li>
                        </ul>

                    </figcaption>
                </figure>
            </div>
        </div>
        
    </div>

    <div id="DRAM" class="textContent">
        <h1>RAM DINAMICA</h1>
        <div class="content">
            <div id="StruttDRAM">
                <h2>STRUTTURA</h2>
                <figure>
                    <img src="/img/ARCH/CellaDRAM.jpg" alt="1 condensatore + 1 Transistor">
                    <figcaption>
                        <ul>
                            <li>Il condensatore si carica grazie alla tensione sulla BL</li>
                        </ul>
                        </figcaption>
                </figure>
            </div>
            <div id="">
                <h2>UTILIZZO</h2>
                <figure>
                    <img src="/img/ARCH/RAM.png" alt="">
                    <figcaption>
                        <ul>
                            <li>Vengono usate nella <a href="/archElab/RAM">Memoria Principale</a> RAM</li>
                            <li><b>Meno componenti</b> richiesti = <b>meno costo</b></li>
                            <li><b>Minore superficie</b> occupata <b>= maggiore capienza</b> per unità di area</li>
                        </ul>
                    </figcaption>
                </figure>
            </div>
        </div>
        
    </div>

    <div id="ACCESSO" class="textContent">
        <h1>ACCESSO IN MEMORIA</h1>
        <div class="content">
            <div>
                <h2>SCHEMA LOIGICO ACCESSO</h2>
                <figure>
                    <img src="/img/ARCH/AccessoMEM.png" alt="Diagramma per accesso in RAM">
                    <figcaption>
                        <ul>
                            <li>RAS: flag che indica l'inzio della fase di RAS</li>
                            <li>CAS: flag che indica l'inzio della fase di CAS</li>
                            <li>WE: Write Enable per differenziare le letture dalle scritture</li>
                            <li>Address: <a href="#Indirizzi">indirizzo fisico</a></li>
                        </ul>
                    </figcaption>
                </figure>
            </div>
            <div id="">
                <h2>RAS</h2>
                <figure>
                    <img src="/img/ARCH/RAS.jpg" alt="Selezione multipla delle righe negli array">
                    <figcaption>
                        L'indirizzo di RIGA <b>attiva tutte le WORDLINE</b> di tutti gli ARRAY, <br>trasferendola interamente nel Buffer Lettura, interno all'array.
                        <br>
                        Richiede circa 30 cicli di clock <br>
                        Nel caso di una <b>lettura in DRAM i dati</b> nella LINE vengono <b>alterati</b>,<br> e perciò è <b>necessaria una operazione di <a href="#DRAM">REFRESH</a></b>
                    </figcaption>
                </figure>
            </div>
            <div id="">
                <h2>CAS</h2>
                <figure>
                    <img src="/img/ARCH/CAS.jpg" alt="">
                    <figcaption>
                        <ul>
                            <li>Viene identificata la COLONNA e vengono letti i bit per ogni ARRAY</li>
                            <li>IN DDR3 Il <b>Banco individuato</b> dall'indirizzo <b>corrisponde a <br> tutti i banchi</b> che possiedono lo stesso numero anche all'interno di CHIP diversi</li>
                            <li>Vengono forniti tutti i BIT in contemporanea riempiendo il BUS DATA</li>
                        </ul>
                        </figcaption>
                </figure>
            </div>
            <div id="Burst">
                <h2>BURST</h2>
                <figure>
                    <img src="/img/ARCH/BURST.jpg" alt="">

                    <figcaption>

                    </figcaption>
                </figure>
            </div>
            <div>
                <h2>BANK INTERLEAVING</h2>
                <figure>
                    <img src="/img/ARCH/RAMPipeline.jpg" alt="">
                    <figcaption>
                        <ul>
                            <li><span id="blue">BLUE:</span> TEMPO LETTURA COMPLETA <a href="#Timing">==</a> = RAS + CAS + LATENCY</li>
                            <li><span id="red">RED: </span>DATA OUTPUT in BUS DATA <a href="#Timing">==</a></li>
                            <li><span id="gray">GRAY:</span> TEMPO DI RICARICA tra un INVIO e CAS LATENCY <a href="#Timing">==</a></li>
                        </ul>
                    </figcaption>
                </figure>
            </div>
            <div id="Lettura">
                <h2>LETTURA</h2>
                <figure>
                    <img src="/img/ARCH/LETTURARAM.jpg" alt="">
                    <figcaption>
                        <ul>
                            <li>CAS LATENCY: Preparazione della memoria a ricevere un nuovo indirizzo</li>
                            <li>RAS attivo: viene attivata la WL e i dati vengono copiati nei Sense Amplifier</li>
                            <li>RAS to CAS Delay <a href="#Timing">??</a></li>
                            <li>CAS attivo: 1 Banco per ogni CHIP preleva un <a href="#Burst">BURST</a></li>
                            <li>DATA OUTPUT: I dati viaggiano nel BUS DATA</li>
                            <li>IDLE: tempo di recupero per a preparazione del circuito a un'altra richiesta</li>
                        </ul>
                    </figcaption>
                </figure>
            </div>
            <div id="Scrittura">
                <h2>SCRITTURA</h2>
                <figure>
                    <img src="/img/ARCH/SCRITTURARAM.jpg" alt="">
                    <figcaption></figcaption>
                </figure>
            </div>
            <div id="Timing">
                <h2>TIMING</h2>
                <figure>
                    <img src="/img/ARCH/RAMtime.jpg" alt="">
                    <figcaption>
                        <ul>
                            <li>15 = CAS LATENCY: 
                                <ul>
                                    <li>Numero Preciso di Cicli. Deve essere in accordo con quello nel MMU</li>
                                    <li>Intervallo tra invio dell'indirizzo Colonna e ricezione del dato in CPU, tramite BUS DATA</li>
                                    <li>CL / FrequenzaRAM[Mhz] *2000  == LATENCY [ns]</li>
                                </ul>
                            </li>
                            <li>16 = RAS to CAS Delay:
                                <ul>
                                    <li>Tempo trascorso tra il RAS e il CAS</li>
                                    <li>(RCDelay + CL) / FrequenzaRAM[Mhz] *2000  == LATENCY [ns]</li>
                                </ul>
                            </li>
                            <li>
                                16 = RAS Precharg Time
                                <ul>
                                    <li>refresh di una WL +Precharging BL</li>
                                    <li>Tempo necessario per l'identificazione di una RIGA</li>
                                    <li>Attivazione dei circuiti fisici per l'attivazione</li>
                                </ul>
                            </li>
                            <li>
                                35 = ROW ACTIVE TIME
                                <ul>
                                    <li>Tempo necessario a una lettura/scrittura completa</li>
                                    <li>RCDelay + 2*CL oppure RCDelay + 1*CL se in SDRAM</li>
                                </ul>
                            </li>
                            <li>Grazie al <a href="">Bank Interleaving</a> è possibile effettuare le letture in PIPELINE</li>
                            <li>il BUS DATA deve essere sempre saturo di bit in qualsiasi momento</li>

                        </ul>
                    </figcaption>
                </figure>
            </div>
        </div>
        
    </div>

    <div id="Interfaccia" class="textContent">
        <h1>TITOLO MAIN CONTENUTO</h1>
        <div class="content">
            <div id="">
                <h2>SUBCONTENT1</h2>
            </div>
            <div id="">
                <h2>SUBCONTENT1</h2>
            </div>
        </div>
        <hr>
    </div>

    <script src="/js/GestioneQuery.js"></script>
    <script src="/js/MainScript.js"></script>
    <script src="https://kit.fontawesome.com/93e39226bb.js" crossorigin="anonymous"></script>
</body>
</html>