/* STILE PER INDEX.HTML */

:root{
    --linkColor: red;
    /* variabile contiene una proprietà css qualsiasi */
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: blue;
    font-family: 'Press Start 2P', cursive;

}

.container{

    display: flex;
    flex-direction: column;

    align-items: center;

    margin: auto;
}

img#thumbs{
    max-width: 100%;  /* 100% del contenitore */
    margin: 20px 0;
}

ul{
    list-style-type: none;
}
li{
    margin-bottom: 20px;
}

a{
    color: white;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
}
a:hover{
    color: var(--linkColor);
}


/* STILE GLOBALE PER TUTTI I GIOCHI */

.board{
    display: flex;
    flex-direction: row;
    
}

.game-area{
    padding: 12px;
    position: relative;
}

.game-data{
    padding: 12px;
    width: 300px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    
}
.game-area #result{
    text-align: center;
    position: absolute;
    background-color: green;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;    /*FLEX per mostrarlo a schermo*/
    justify-content: center;
    align-items: center;
}

#reset {
    background-color: red;
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 50px;
    height: 100px;
    width: 100px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
}
#reset:visited{
    text-decoration: none;
    color: white;
}

h1{
    font-size: 36px;
    margin-bottom: 16px;
}

p{
    font-size: 20px;
    margin-bottom: 20px;
}