body {
  background: #2dfdf4;
  background: linear-gradient(0deg, #2dfdf4 0%, #22c345 100%);
  background-size: auto;
  height: 100%;
}

.navbar {
  background-color: red;
  border-radius: 30px;
  position: sticky;
  top: 0px;
  text-align: center;
  width: 100px;
  display: flex;
  margin: 0 auto;
  /*mette in centro la NAVBAR*/
  justify-content: center;
  display: block;
}
.navbar #navlogo {
  font-size: 35px;
  display: block;
  color: black;
  padding: 10px;
}
.navbar #index {
  display: none;
  /*FLEX all'HOVER di navbar*/
  justify-content: space-evenly;
  font-size: 35px;
  list-style: none;
  align-items: center;
}
.navbar #index a {
  display: flex;
  color: blue;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background-color: #33ff00;
}
.navbar #index a:visited {
  color: blue;
}
.navbar #index .drop {
  display: none;
}
.navbar #index .hideAll {
  background-color: red;
  border-radius: 30px;
}
.navbar #index button {
  height: 50px;
}

.navbar:hover {
  background-color: transparent;
  display: flex;
  position: sticky;
  top: 0px;
  width: 100%;
  justify-content: space-evenly;
}
.navbar:hover #index {
  display: flex;
}
.navbar:hover #navlogo {
  display: none;
}

.textContent {
  display: none;
  width: 100%;
}
.textContent h2 {
  color: blue;
  font-size: 40px;
  text-align: center;
}
.textContent #AnVSDig {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 0 50%;
}
.textContent #AnVSDig ul {
  text-align: left;
  font-size: 20px;
}
.textContent #AnVSDig img {
  height: 300px;
  width: 450px;
}

@media (max-width: 900px) {
  .navbar #index {
    flex-wrap: wrap;
  }
  .navbar #index a {
    font-size: 20px;
  }
  .navbar #index button {
    height: 30px;
  }

  .textContent {
    display: none;
    width: 100%;
    position: relative;
  }
  .textContent h2 {
    color: blue;
    font-size: 40px;
    text-align: center;
  }
  .textContent #AnVSDig {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 0 50%;
  }
  .textContent #AnVSDig ul {
    text-align: left;
    font-size: 20px;
  }
  .textContent #AnVSDig img {
    height: 100px;
    width: 150px;
  }
}
@media (max-width: 450px) {
  body {
    font-size: 20px;
  }

  .navbar #index {
    flex-wrap: wrap;
  }
  .navbar #index a {
    font-size: 10px;
  }
  .navbar #index button {
    height: 20px;
  }

  .textContent {
    display: none;
    width: 100%;
    position: relative;
  }
  .textContent h2 {
    color: blue;
    font-size: 40px;
    text-align: center;
  }
  .textContent #AnVSDig {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 0 50%;
  }
  .textContent #AnVSDig ul {
    text-align: left;
    font-size: 20px;
  }
  .textContent #AnVSDig img {
    height: 60px;
    width: 90px;
  }
}

/*# sourceMappingURL=CodDig.css.map */
