@charset "UTF-8";
/*PROPRIETà VARIABILI IN BASE ALLA PAGINA SELEZIONATA*/
body {
  height: 100%;
}

#titlePage {
  color: red;
  text-align: center;
  font-size: 50px;
  width: 95%;
  border: 3px solid white;
  border-radius: 50px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-bottom: 30px;
}
#titlePage i {
  color: black;
}
#titlePage #pagelogo {
  margin-right: 15px;
}
#titlePage .homebutton {
  height: 60px;
  width: 60px;
  text-align: center;
  display: inline-block;
  height: 70px;
  width: 70px;
  border: 1px solid white;
  margin-left: 25px;
  border-radius: 50%;
  padding: 5px;
  font-size: 20px;
}
#titlePage .homebutton i {
  font-size: 35px;
  color: black;
}
#titlePage .homebutton:hover {
  transform: scale(1.2);
  background-color: red;
}

.pdflink {
  font-size: 35px;
  text-align: center;
  margin: 50px;
}
.pdflink a {
  color: #1900ff;
  background-color: #ff00c8;
  text-align: center;
  border: 2px dashed black;
  border-radius: 30px;
  padding: 15px;
  text-decoration: none;
}
.pdflink i {
  color: black;
}
.pdflink a:hover {
  background-color: #0011ff;
  color: white;
}
.pdflink a:hover i {
  color: white;
}
.pdflink i:hover {
  transform: scale(1.4);
  margin: 20px;
}

.navtable {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.navtable .linkcell, .navtable .CFU6, .navtable .CFU12 {
  align-content: flex-start;
  margin: 10px 0;
  height: 100px;
  border-radius: 30px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: white;
  flex: 1 1 50%;
  min-width: 200px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.navtable .linkcell .container, .navtable .CFU6 .container, .navtable .CFU12 .container {
  border: 1px solid white;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
}
.navtable .linkcell .container .primarylink, .navtable .CFU6 .container .primarylink, .navtable .CFU12 .container .primarylink {
  padding: 10px;
  text-decoration: none;
  color: #070707;
}
.navtable .linkcell .container .primarylink .linkimg, .navtable .CFU6 .container .primarylink .linkimg, .navtable .CFU12 .container .primarylink .linkimg {
  width: 70px;
  height: 70px;
  vertical-align: middle;
}
.navtable .linkcell .container .dropButton, .navtable .CFU6 .container .dropButton, .navtable .CFU12 .container .dropButton {
  margin-left: 2%;
  padding: 0px 2%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: chartreuse;
  display: inline;
}
.navtable .linkcell .container .dropButton:hover, .navtable .CFU6 .container .dropButton:hover, .navtable .CFU12 .container .dropButton:hover {
  transform: scale(1.5);
  background-color: #f1f2f7;
  color: black;
}
.navtable .linkcell .indexdrop, .navtable .CFU6 .indexdrop, .navtable .CFU12 .indexdrop {
  text-align: center;
  list-style: none;
  width: 90%;
  display: none;
  justify-content: center;
  flex-wrap: wrap;
}
.navtable .linkcell .indexdrop a, .navtable .CFU6 .indexdrop a, .navtable .CFU12 .indexdrop a {
  border: 1px solid black;
  background: #6181f2;
  background: radial-gradient(circle, #6181f2 0%, #a5bcfa 50%, #0bf1f2 100%);
  border-radius: 15px;
  display: flex;
  flex: 1 0 33%;
  justify-content: center;
  color: white;
  text-decoration: none;
}
.navtable .linkcell .indexdrop a img, .navtable .CFU6 .indexdrop a img, .navtable .CFU12 .indexdrop a img {
  height: 50px;
  width: 50px;
  vertical-align: middle;
}
.navtable .linkcell .indexdrop a:visited, .navtable .CFU6 .indexdrop a:visited, .navtable .CFU12 .indexdrop a:visited {
  color: white;
}
.navtable .linkcell .indexdrop a:link, .navtable .CFU6 .indexdrop a:link, .navtable .CFU12 .indexdrop a:link {
  color: white;
}
.navtable .linkcell .indexdrop abbr, .navtable .CFU6 .indexdrop abbr, .navtable .CFU12 .indexdrop abbr {
  text-decoration: none;
  color: white;
}
.navtable .linkcell:hover {
  margin-bottom: 20px;
  height: 190px;
}

.navbar {
  z-index: 1000;
  background-color: transparent;
  border-radius: 30px;
  position: sticky;
  top: 0px;
  text-align: center;
  width: 100%;
  display: flex;
  margin: 0 auto;
  /*mette in centro la NAVBAR*/
  justify-content: center;
}
.navbar #navButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 30px;
  height: 60px;
  font-size: 30px;
}
.navbar #navButton #navlogo {
  font-size: 35px;
  display: inline;
  color: black;
  padding: 10px;
}
.navbar #index {
  display: none;
  /*FLEX all'HOVER di navbar*/
  justify-content: space-evenly;
  font-size: 25px;
  list-style: none;
  align-items: center;
}
.navbar #index a {
  display: flex;
  color: blue;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background-color: #33ff00;
}
.navbar #index a:visited {
  color: blue;
}
.navbar #index .drop {
  display: none;
}
.navbar #index #hideAll, .navbar #index #hideNav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .title {
    padding: 10px;
    font-size: 30px;
  }
  .title .homebutton {
    display: inline;
    height: 20px;
    width: 20px;
    margin: 0 10px;
  }
  .title .homebutton i {
    font-size: 20px;
  }
  .title .homebutton span {
    display: none;
  }

  .pdflink {
    font-size: 20px;
    text-align: center;
    margin: 30px;
  }

  .navtable .linkcell {
    font-size: 20px;
  }
}

/*# sourceMappingURL=globalstyle.css.map */
