html {
    height: 100%;
    width: 100%;
    background: rgb(29,167,83);
    background: linear-gradient(90deg, rgba(29,167,83,1) 0%, rgba(5,203,244,1) 100%); 
}

#red{
    color: red;
}
#blue{
    color:blue;
}
#gray{
    color: rgb(77, 75, 75);
}